<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body style="background:#FFF3CA; ">
<div style="background:#FFF3CA;border:3px solid Orange; height:400px; overflow-y:scroll;">
<div id="abtorgbgdiv" class="signupBackgroundDiv" style="" align="center">
            
            <div id="abtorglDetailDiv" class="signupDetailDiv" style="margin-top: -20px; height: 100%; width: 100%; url(Images/bodybg.gif) repeat;background:#FFF3CA;    margin-top: 30px;">
                <div id="pnlaboutorganization" style="">
	
                    <div style="">
                        <div style="margin: 5px;">
                            <h1 align="center" style="font-size: larger; font-weight: bolder; color: Maroon;">
                                <span id="lblao" style="font-size: larger; font-weight: bolder; margin-top:30px;
                                    color: Maroon;">About Organisation</span></h1>
                            <div>
                                <strong>
                                    <span id="lblfac" class="sideheading" style="font-size: 16px;">Founder & Chairman :</span></strong>
                                <span id="lblname" style="font-size: 16px; font-style: oblique;
                                    font-weight: bolder;">Dr.E.Anantha Krishna</span><br>
                                <span id="lblapbo" style="text-decoration: underline;">Activities performed by Organisation</span>
                            </div>
                        </div>
                        
                        <div>
                            
                            <div >
                                <div style="opacity: 0.85; filter: alpha(opacity=85%)">
                                    <ul style="list-style-image: url(Images/listbulletpoint.png); padding-top: 15px;">
                                        <li style="text-align: left; padding: 10px;">
                                            <span id="lblfree">Free</span>
                                            <strong>
                                                <span id="lblms">Medical Service</span></strong>.</li>
                                        <li style="text-align: left; padding: 10px;">
                                            <span id="lblInc">Inculcating</span>
                                            <strong>
                                                <span id="lblsp">spiritual grouping</span></strong> .</li>
                                        <li style="text-align: left; padding: 10px;">
                                            <span id="lblimp">Imparting</span>
                                            <strong>
                                                <span id="lblse">spiritual education</span>&nbsp;</strong><span id="lblintr">to anyone who is intreseted.</span>
                                        </li>
                                        <li style="text-align: left; padding: 10px;">
                                            <span id="lbldev">Developing schools to impart education with</span>
                                            <strong>
                                                <span id="lblmoral">moral values and national spirits</span></strong>.</li>
                                        <li style="text-align: left; padding: 10px;">
                                            <span id="lbltrain">Training the youth in</span>
                                            <strong>
                                                <span id="lblself">self employment</span>&nbsp;</strong><span id="lbland">and servicing the society.</span>
                                        </li>
                                        <li style="text-align: left; padding: 10px;">
                                            <span id="Label11">Networking all the people working in</span>&nbsp;<strong><span id="Label12">spiritual</span>&nbsp;</strong><span id="Label13">around the globe.</span>
                                        </li>
                                        <li style="text-align: left; padding: 10px;">
                                            <span id="Label14">Training people into</span>
                                            <strong>
                                                <span id="Label15">healing science</span>&nbsp;</strong><span id="Label16">through homeopathy, Ayurvedic
                                and yoga.</span>
                                        </li>
                                        <li style="text-align: left; padding: 10px;">
                                            <span id="Label17">Spreading the ancient wisdom from&nbsp;the teachings of</span>
                                            <strong>
                                                <span id="Label18">Master Ek</span></strong> <strong>
                                                    <span id="Label19">and other Masters.</span></strong></li>
                                        <li style="text-align: left; padding: 10px;"><strong>
                                            <span id="Label20">Spiritual fusion</span>&nbsp;</strong><span id="Label21">of east and west as concieved by</span>
                                            <strong>
                                                <span id="Label22">Master Ek</span>
                                            </strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                
</div>
                
            </div>
        </div>
        </div>
</body>
</html>
