<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body style="background:#fff3ca; font-family:Arial;">
<td>
                                            
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lblText1_0">Wisdom is impersonal. It is inherent in nature. It is 
universal and eternal. No one can claim to be the author or owner of the wisdom. 
Real wisdom is a revelation and not a result of logic. It is one of the rays of 
Divinity. True wisdom establishes the integral unity of the universe and the 
correspondence between the macrocosm and the microcosm. The goal of revelation 
of wisdom is one's identification with the Universal Spirit and living as 
indweller of all. There is some intelligence in space that are the custodians of 
the true wisdom, like Narada, Vasishta, Viswamitra etc. Millions of years ago 
some of them took human forms on the earth and compiled the revelations of 
wisdom dawned upon them from the Indwelling Light, the One in all. Such records 
of compilations are called THE VEDAS.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span><br>
                                            <br>
                                      
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext2_0">Pure Love is another ray of Divinity. To love all as "I AM" is called Pure Love or the highest form of love, 
which is otherwise, called Devotion. Life becomes Divine and blissful, if one 
enjoys always the embrosia of pure love, which leads man to the Divine Light. 
Nature abounds with this love. As such Love is the law of Nature. It is the 
essential quality of every being. Whenever the ageless wisdom is lost, i.e., the 
human mind is incapable of receiving its focus and Law of Nature is violated on 
a mass scale and the unlawfulness gains upper hand, The Universal Spirit, which 
is otherwise called The World Teacher, descends on the earth. Five thousand 
years ago such a descent occurred on the earth in a perfect form, namely, Lord 
Krishna. While Krishna was about to leave His physical body, He willed to keep 
His Divine Consciousness in Lord Maitreya until end of the present iron age 
(Kali Yuga), and through the vehicle of Maitreya, He planned to establish Law on 
the earth and hence initiated Maitreya into the integral whole of the Wisdom of 
the Universe. Thus Maitreya, who is otherwise known as The Christ, became the 
World Teacher and the chief custodian of the Eternal Divine Wisdom. 
</span><br>
                                            <br>
    
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext3_0">Under the stewardship of Lord Maitreya, some other seers (Rishis), who got liberated from the obligation of 
attaining physical bodies and dedicated themselves to the noble goal of 
resurrection of humanity into Divinity and the establishment of universal 
brotherhood on the basis of oneness of the Spirit in all, have been working day 
and night. They are called Masters of Wisdom. Their main abodes or centers of 
work are the caves of Kalapa and Shamballa in the Himalayas. These are the 
centers of their creative work. Masters work in groups with invisible, and at 
times visible bodies. They promote the evolution of human beings on the earth. 
As they are all liberated souls, according to their will, they take human forms 
as different individuals at different times in different countries and have been 
working hard for the sake of the spiritual progress of the humanity on the lines 
cooperation with the evolution of the earth. Further, they dilute and reduce the 
karma of the races. Some of them are known as Master Morya, Master Kuthoomi, 
Master Seraphis, Master Jesus and Master Djwalkhul(D.K). During the last century 
they re-opened the school of divine wisdom with the help of the theosophical 
movement led by Madam H.P.Blavatsky who devoted her life to the work of the 
Masters. Master's work is above the limitations of the borderlines of the 
nations and transcends the barriers of race, cult, religion, sect, etc., and 
belongs to the whole of humanity. 
</span><br>
                                            <br>
       
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext4_0">The Blue Mountains (Nilgiris) in South India also is another secret center of the creative work of the 
Masters. The celebrated sage Agastya graces the place with his presence. He has 
been cooperating with the above mentioned Theosophical Masters, staying at the 
same place. He has formulated the relationship between the influence of planets 
and the evolution of man. He has bridged yoga, the path of synthesis and the 
ageless wisdom of the Masters. Under the radiant influence of the sage Agastya, 
another Master took incarnation with the energies of sign Aquarius in 1868 at 
Kumbhakonam in South India. He attained the highest experience of God the 
indweller. He is called Master CVV.
		</span>
                                        </td>
                                        <td>
                                            
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lblText1_0">Master CVV: He was born in a traditional family. He 
was brought up according to the ancient traditions, became an ideal householder 
and was a very sociable person. In the year 1910, the light of Haley's Comet 
entered into his room at mid night while he was in meditation and through this 
he received the energies of the Supreme and started the work of his descent. He 
attained Mastery over all his vehicles was able to peep into the details of our 
solar system and propounded a programs for the sake of the spiritual expansion 
of the present humanity on 29th May 1910. The higher energy worked out a 
connection with his programs. After the descent of that light into him, merely 
with his grace though his look he could impregnate his wife through which a 
Divine being came into incarnation that was named as Chandu. It was an 
immaculate conception. This child was the guide to Master CVV. He lived only a 
short period in his physical body and left it after completing his purpose with 
Master CVV. CVV awakened the sound waves working in the magnetic field of the 
earth with the mystic key syllables, viz.,CVV and arrange the direct link 
between the individual Kundalini and the cosmic Kundalini which is nothing but 
the energy of God with the help of which He brought about the creation. Master 
CVV carved out a design of synthesis </span><br>
                                            <br>
                                      
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext2_0">Of all the planes of consciousness of man and aimed at the perfection of every atom in the human constitution. He 
renovated eternal path of synthesis that is based on total surrender of oneself 
to the Master and his work and keep witnessing the mind. Master CVV has 
preserved his etheric body immortally to guide his followers through ages and 
births and transform them into himself, no other than the all-pervading spirit. 
There is no place for individual liberation in the programme of Master CVV. His 
path envisages the descent of Divine immortality to the earth and the earthly 
life of every man on it. Every vehicle in the human constitution, commencing 
with the gross physical body onto his subtler intellect is meant for 
purification. Master CVV selected some disciples as his mediums through whom he 
has been proceeding to expand his work and externalise his 
plan.&nbsp;</span><br>
                                            <br>
    
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext3_0">Sri Veturi Prabhakara Sastry 
(Master VPS) and Sri Mainampati Narasimham (Master MN) were the foremost of the 
mediums of Master CVV. They healed thousands of people from their ailments 
sufferings and energised their bodies by invoking Master CVV in prayer. Further, 
they moulded the lives of thousands of persons on the lines prescribed by their 
Master. Even after leaving his mortal frame in 1922,Master CVV has been 
continuing his work through some pure souls who dedicated their lives for the 
Universal perfection and gave the presence of the Master to their associates. 
One such noble souls was Sri Kotha Ramakotiah, the devoted disciple of Master 
VPS, who not only healed many sick people, but spread the path of Master 
CVV.</span><br>
                                            <br>
       
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext4_0"></span>
                                        </td>
                                        <td>
                                            
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lblText1_0">Master EK: There are seven keys to attain the experience of Yoga Consciousness, 
according to the Masters. Yet only three keys are possible to be revealed in 
books. Those three were presented in the book "The Secret Doctrine" written by 
Madam H.P.Blavatsky, who unlocked to some extent the treasure of wisdom in the 
present age. Master CVV promised to reveal the remaining four keys to his 
mediums from time to time. There is a harmonious relationship between the work 
of the theosophical Masters and Master CVV.</span><br>
                                            <br>
                                      
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext2_0">In the earlier decades of this century, materialism and spiritualism were at crossroads. Both were growing at 
the cost of each other. Science and religion were pointing guns at each other. 
Life took a turn of gross commercial way at the risk of loss right human 
relationships. In the name of yoga, fake paths came to the front. The earth 
needed gravely the descent of a Divine person who was able to reconcile the 
science of matter and the science of spirit and who was able to offer the taste 
of the nectar of universal love and lead the humanity on the roads of true 
spiritual progress which has nothing to do with religion and it’s narrow 
limitations. At the crucial juncture of the life of the globe, Ekkirala 
Krishnamacharya (Master EK) was born at Bapatla in Guntur district of Andhra 
Pradesh, the southern state of India on 11th August, 1926. He was fortunate 
enough to have inherited the parentage of a modern seer, Dr. E.Anantacharya and 
a deep devotee, Butchamma.</span><br>
                                            <br>
    
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext3_0">Dr.Anantacharya was a seer of the Vedas and all the occult sciences. He probed thoroughly into the ancient wisdon 
with his seerly and original insight, without the help of any commentaries. The 
ancient wisdom threw it's light on his intution. He lived a perfect yogic life. 
He carved out Ayurveda, The science of longevity, from the direct source of the 
Vedas and healed thousands of people with his misterious way of treatment. He 
imparted the wisdom of the Vedas and Occult sciences like Astrology, Ayurveda 
etc., to his sons and disciples. Krishnamacharya received yogic training from 
his father in his childhood. He grew as an illustrious son of the illustrious 
father. He was named after Lord Krishna by his father since he was born at the 
time when Anantacharya was making a special study of the Bhagavadgita. At a very 
early age, he mastered all the subjects modern and ancient. The core of every 
subject was unveiled to him. In addition he viewed the wisdom with all its 
branches in the light of application and usefulness to the humanity. He was a 
good admixture of pure idealism and strict pragmatism. He began his career as a 
professor of Telugu, his mother tongue, in a college at Guntur.
		</span><br>
                                            <br>
       
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext4_0"></span>
                                        </td>
                                        <td>
                                            
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lblText1_0">Master E.K. conducted instructional classes in 
the science of Homoeopathy and trained hundreds of persons in this healing art. 
Many of the patients who approached him for healing were transformed into 
healers by him. He was not only an exponent of spiritual healing but also an 
adept in that art. He founded New Era Healing, the healthy combination of all 
the scientific branches of healing in the world, the special importance to their 
application according to the need of the sick. He has established many healing 
centers where many suffering and sick people are healed everyday. He established 
a harmonious connection between the teacher and the student, the healer and the 
sick, the employer and the employee, the parent and the child. He created an 
affectionate bond between the above mentioned 
pairs.&nbsp;</span><br>
                                            <br>
                                      
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext2_0">He imparted the wisdom of the 
orient and the occident to thousands of aspirants and guided their lives on the 
lines of spiritual progress. Many families began to adore him like a parent, 
guide, teacher, friend, saviour and everything. He wrote commentories on some of 
the Vedic rhymns, Upanishads, Bhagavadgita, The Yogasutras of Patanjali and 
finally the great Indian epic Bhagavatha, the store house of knowledge of 
creation and the guiding light for spiritual aspirants. The depth of his 
knowledge is like that of an ocean. On withstanding this, his style is very 
lucid. The reader is blessed with his Devine presence, which is a very blissful 
experience. Anyone who peeps into his writings gets the experience of love and 
bliss. He was a celebrated poet and can be placed besides the seer-poets of the 
orient like Valmiki, Vyasa and Kalidasa, and of the occident like Homer, Milton 
and Shakespeare. He wrote matchless epics on the life of Lord Krishna in prose 
and poetry, which are classic works. All his works present solutions to the 
problems of the human race of all times. He wrote most authentic works in the 
science of Ayurveda, Homoeopathy, Astrology, Yoga etc., which can satiate the 
thirst of knowledge seekers as well as the needy common people. He explored into 
the synthesis among the allegories in the Vedas, the Hebrew and Chaldean 
literature, the Bible and the Zend Avesta. He re-established the one eternal and 
universal law which was masked by the formal religions, leading the pace to one 
religion i.e., wisdom religion. He narrated a number of parables like Jesus 
Christ to enlighten the path to the common man. His dictum is precise, concise, 
sweet and practical. His speeches were impregnated with subtle humour and 
compassion. They were conversational in style. He touched the human hearts with 
his teachings and sowed the seeds of spirit of Love and 
Service.</span><br>
                                            <br>
    
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext3_0">Coming to his work on education, he 
toiled to rebuild the ancient type of education that created a touchy rapport 
between the teacher and the disciple. He tried to develop creative genius among 
children. He visualised the education in the new age and envisaged the all round 
development of body, intellect and soul. Master E.K. was equipped with the 
knowledge of the history of the 
globe.</span><br>
                                            <br>
       
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext4_0">His insight was so deep that he was 
able to understand the present world crisis fully. He investigated into the 
problems pertaining to economic, political, social, cultural, and all other 
fields in all the countries thoroughly and further studied various ideologies 
founded by socio economic scientists like Rosseau, Rusky, Karl Marx etc., In 
addition, he appreciated the philosophies of John Ruskin, Emerson, Tolstoy, 
Aurobindo, Mahatma Gandhi etc. He discovered the problems caused by the fake 
modern civilisation dated from the industrial revolution that occurred in 
England. Finally, he presented a single medicine to cure all the maladies 
disturbing all the fields. He propounded a socio economic structure on the 
foundation of spiritual oneness. He gave a call to the present day people 
groping in the darkness of unrest due to grave thirst for mental uplift, to go 
for retreat to rural areas and form themselves as one social unit. He designed 
mutual co-operation in the place of competition. He warned the people regarding 
the forthcoming danger to the future of the earth and life on the earth 
resulting from over-urbanisation. He proposed de-urbanisation and living in the 
cummunion with nature. There are many philosophies and spiritualists who 
interpreted the world as an illusion and cautioned the people against the evils 
caused by believing its reality. At the other end , there are pseudo-scientists 
who took the material world to be an absolute reality. But Master E.K. was one 
who comprised both the ends and presented the world's true structure as the 
manifested form of Divinity and a relative reality. Further, he presented the 
way for it's transformation on the path of evolution and galvanised the youthful 
energies of a large number of adults to work as world-servers and formed a team 
of servers for world good will. He rose to the occasion in the present Aquarian 
age. He preached what he lived. His life is his gospel. He lived as an universal 
man. He gave a rousing call for Cultural Revolution.The sore feelings of any 
person due to worry, sickness, hunger etc., living in the nook and corner of the 
world reverberated in his heart like ringing bells in a temple. He never rested 
until the tears of a sad person were removed and washed away. Verily, his heart 
was a temple of God in man and a mineature universe. He sought for group-living 
and promulgated the doctrine of pure love on a cosmic scale. He patiently 
forbore many difficulties in his life and withstood all the material odds and 
never went back from the continuity of his purpose under any circumstance. He 
never discarded his family. He was not a monk. He was a highly responsible 
house-holder. He was an ideal and humble son, an affectionate elder brother, a 
loving husband, a noble father, a parentally teacher, a healer with motherly 
love, a preacher of the age and the prophet for all times. He visualised that 
one day man will be transported into space by means of prayer and also all men 
live like component atoms in the universal body of the All-Merciful 
God. No subject and no discipline old or new could escape his attention. No 
field escaped his purview. He was, by himself, an institution.</span>
                                        </td>
                                        <td>
                                            
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lblText1_0">Master E.K shouldered the work of bringing about 
fusion of the East and the West. In 1972, the spiritual disciples of Albert 
Sassi, his spiritual colleague in Belgium invited him to deliver lectures on 
spiritualism and yoga. Since then, Master went round the globe seven times. He 
inculcated the values of yoga in the hearts of the western brothers and 
magnetised them with his love. He appreciated the positive aspects of both the 
east and west and harmonised them. He initiated groups of world servers in 
European countries like Belgiun, Switzerland, France, Germany and Italy. They 
felt the presence of Master C.V.V. in his company. He kindled the lamp of love 
and wisdom in their hearts. The cultural gap between the east and west has been 
reduced as a consequence of his work. He sacrificed his life and health for 
world peace. His mission was bridging the east and west, the indwelling spirit 
in both being the same and bestowing bliss on them. He established healing and 
educational centers in the west. He never expected any thing in return from 
them. It is due to the mystic work of Masters like E.K, that the hearts of 
people of different countries are coming close to one another. Mutual 
understanding is growing inspite of the dividing tactics of cheap politicians. 
Decisions in the fields of statecraft, culture , games,education etc., are being 
gradually moulded in a positive way. Mater is still working in his etheric frame 
to prevent war and violence in the 
world.</span><br>
                                            <br>
                                      
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext2_0">Master E.K never declared that he 
was a master, as the case with all other Masters. A true master is always 
concious that he is a messenger of the masters above him in the ladder of 
Hierarchy. He further consciously feels that his followers are his brothers. He 
never wishes to claim spiritual supremacy over others. Aristocracy of any type 
is never found in him. He is the embodiment of humility and enjoys the position 
of server. He communicates with the Indweller and not the 
person.</span><br>
                                            <br>
    
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext3_0">He lives as love and treats praise 
and abuse equally. No one's behavior leaves any mark or stamp on a Master's mind 
. He is free from impressions. He is all experience like an infant. He never 
reacts, but only acts. Exactly to say he does not act. While his consciousness 
is submerged in the ocean of All-Consciousness, God works through him and acts 
through him. His intellect, mind and senses are immortalised and work as the 
instruments in the hands of God. Master E.K. used to confess to the people who 
surrounded him that he was a messenger of all the masters and a link between the 
masters and the aspirants. He never claimed to be the owner of knowledge which 
flowed through him. He is fully conscious that wisdom is the grace of God. We 
should be cautious of the fake masters in the present age. Master E.K.'s path is 
a path of inclusion and synthesis of all, which is very 
positive.</span><br>
                                            <br>
       
                                            <span id="ContentPlaceHolder1_gvAboutMasters_lbltext4_0">Master E.K. used to conduct the 
congregations of spiritual aspirants twice or thrice at fixed places on fixed 
dates every year for three days. Thus, he provided training in group living and 
brotherhood. Later, he extended the duration of group living for a period of 
fifteen days. He left his mortal frame in 1984. His life was glorified like a 
flower submitted to the altar of omnipresent God. Master E.K. is immortal. His 
presence is still felt by his true followers. He remains for ever, like polestar 
guiding the generations to come on the lines of spiritual perfection and 
training them to live like the rays of the radiant central spiritual sun.
		</span>
                                        </td>
</body>
</html>
