<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

</head>

<body style="background:#fff3ca; font-family:Arial;">
<td>
                                                    <p>
                                                        <span class="bold-text" style="font-weight: bold;">
                                                            <span id="ContentPlaceHolder1_lblmm">Master EK Spiritual and Service Mission</span></span>
                                                        <span id="ContentPlaceHolder1_lblnn">is an international
                                                        Service Organisation dedicated to the service to humanity. The main objective of
                                                        this Mission is to render service to humanity without any expectation. This is mainly
                                                        two-fold:</span></p>
                                                    <p>
                                                        <span id="ContentPlaceHolder1_lbloo">To heal the sick through holistic methods following the footsteps of</span>
                                                        <span class="bold-text" style="font-weight: bold;">
                                                            <span id="ContentPlaceHolder1_lblyy">Master EK and other Masters</span>
                                                        </span>.</p>
                                                    <p>
                                                        <span id="ContentPlaceHolder1_lblzz">To transmit the Ageless Wisdom to one and all without any discrimination of race,
                                                        religion or sex. The method to lead a yogic life was given to the modern man in
                                                        a simplified manner by</span>
                                                        <span class="bold-text" style="font-weight: bold;">
                                                            <span id="ContentPlaceHolder1_lblaa">Master CVV</span></span>.</p>
                                                    <p>
                                                        <span id="ContentPlaceHolder1_lblbb">The message of</span><span class="bold-text" style="font-weight: bold;">
                                                            <span id="ContentPlaceHolder1_lblcc">Master CVV</span></span><span id="ContentPlaceHolder1_lbldd">was spread through his
                                                        selected mediums and</span><span class="bold-text" style="font-weight: bold;"><span id="ContentPlaceHolder1_lblee">Master EK</span></span>
                                                        <span id="ContentPlaceHolder1_lblff">is one among them.He is working as a Master of Synthesis in the work of</span><span class="bold-text" style="font-weight: bold;"><span id="ContentPlaceHolder1_lblgg">Master CVV</span>
                                                        </span>
                                                        <span id="ContentPlaceHolder1_lblhh">and</span>
                                                        <span class="bold-text" style="font-weight: bold;">
                                                            <span id="ContentPlaceHolder1_lblii">Master Maitreya</span></span>.</p>
                                                    <p>
                                                        <span class="bold-text" style="font-weight: bold;">
                                                            <span id="ContentPlaceHolder1_lbljj">Master EK Spiritual and Service Mission</span></span>
                                                        <span id="ContentPlaceHolder1_lblkk">was founded in his name to follow his footsteps.</span></p>
                                                </td>
</body>
</html>
